<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid19">
    <!-- İnternet erişim izni -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/covid19"
        android:label="@string/app_name"
        android:roundIcon="@drawable/covid19"
        android:supportsRtl="true"
        android:theme="@style/AppThemNoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".IstatistikDetaylar"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>